.chat{
    position: absolute;
    bottom: 60px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    padding: 0px 20px;
    z-index: -1;
    overflow-y: scroll;
}

.message{
    padding: 10px;
    border-radius: 15px;
}

.left{
    display: flex;
    justify-content: flex-start;
}

.right{
    display: flex;
    justify-content: flex-end;
}


.card-img-top{
    
}