.navbar{
    background-color: #0b0f19 !important;
}

.offcanvas{
    max-width: 75%!important;
    background-color: #0b0f19 !important
}

.offcanvas-body{
    text-align: center;
    padding: 16px 30px!important;
}

.navbar-toggler {
    padding: 0px !important;
    border-color: transparent !important;
}

.navbar-toggler:focus{
    box-shadow: none!important;
}

.btn-close:focus{
    box-shadow: none!important;
}

.offcanvas-header{
    padding: 16px 30px!important;
}

.offcanvas-footer{
    display: inline-grid;
    padding: 40px 30px!important;
    gap: 20px;
}